@import "../../../styles/colors.scss";

.headerContainer {
  width: 100%;

  display: flex;

  .buttonsContainer {
    display: flex;
    gap: 15px;

    margin-left: auto;

    button {
      border-radius: 10px;
      border: none;
      padding: 0.7rem 1.1rem;

      color: $white-color;
      box-shadow: 1px 2px 5px rgb(0 0 0);

      font-weight: 500;
      font-size: 0.8rem;
      line-height: 1;

      transition: filter 0.2s;
      cursor: pointer;

      &:not(:disabled):hover {
        filter: brightness(0.8);
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.4;
      }
    }

    .createNewButton {
      background: $primary-color;
    }
    .filtersButton {
      background: $blue-color-500;
    }
  }
}
