@import "../../../styles/colors.scss";

.sidebarContainer {
  background: $gray-color-400;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);

  padding: 20px 0px;
  width: 52px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .userButton {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
    cursor: pointer;
    position: relative;
    z-index: 2;

    &:hover {
      .userIcon,
      .notification {
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.7)) brightness(0.7);
      }
    }

    .userIcon {
      width: 1.3rem;
      height: 1.3rem;
      transition:
        filter 0.2s,
        color 0.2s;
    }

    .notification {
      position: absolute;
      top: -5px;
      right: -5px;

      background: red;

      line-height: 2;
      border-radius: 50%;
      width: 10px;
      height: 10px;

      font-size: 8px;

      display: flex;
      align-items: center;
      justify-content: center;

      transition: filter 0.2s;
    }

    .userInfoContainer {
      display: flex;
      flex-direction: column;

      position: absolute;
      top: -46%;
      transform: translateX(27%);

      background: $gray-color-300;
      box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.6);

      padding: 15px;
      border-radius: 10px;
      cursor: auto;

      animation: fadeIn 0.2s;

      .icon {
        height: 1rem;
        width: 1rem;
      }

      span {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &::before {
        content: "";
        background: $gray-color-300;

        width: 20px;
        height: 20px;
        transform: rotate(45deg);

        position: absolute;
        top: 18%;
        left: -4%;
      }
    }
  }

  .menuList {
    display: flex;
    flex-direction: column;

    width: 100% !important;
    gap: 30px;

    li {
      list-style-type: none;

      transition:
        filter 0.2s,
        color 0.2s;
      filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        width: 1.3rem;
        height: 1.3rem;
      }

      &:not(.activeMenu):hover {
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.7)) brightness(0.7);
      }
      &.activeMenu {
        color: $primary-color;
      }
    }
  }

  .logoutButton {
    color: $red-color-500;
    transition: filter 0.2s;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
    cursor: pointer;

    width: 1.3rem;
    height: 1.3rem;

    &:hover {
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.7)) brightness(0.7);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
