/* Cores do tema da aplicação */

$white-color: #ffffff;

$green-color-700: #00875f;
$green-color-500: #00b37e;

$primary-color: #ff6600;
$blue-color-500: #3264ff;
$blue-color-700: #31a2ff;

$red-color-500: #ed4252;
$red-color-700: #aa2834;

$gray-color-700: #121214;
$gray-color-600: #202024;
$gray-color-500: #29292e;
$gray-color-400: #323238;
$gray-color-350: #52525a;
$gray-color-300: #7c7c8a;
$gray-color-200: #c4c4cc;
$gray-color-100: #e1e1e6;
