@font-face {
  font-family: 'Poppins';
  src: url('../../public/assets/fonts/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Para a fonte Poppins com peso 200 */
@font-face {
  font-family: 'Poppins';
  src: url('../../public/assets/fonts/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Para a fonte Poppins com peso 300 */
@font-face {
  font-family: 'Poppins';
  src: url('../../public/assets/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* E assim por diante... */

/* Para a fonte Poppins com peso 700 */
@font-face {
  font-family: 'Poppins';
  src: url('../../public/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Para a fonte Poppins com peso 800 */
@font-face {
  font-family: 'Poppins';
  src: url('../../public/assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Para a fonte Poppins com peso 800 */
@font-face {
  font-family: 'Poppins';
  src: url('../../public/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Para a fonte Poppins com peso 800 */
@font-face {
  font-family: 'Poppins';
  src: url('../../public/assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Para a fonte Poppins com peso 800 */
@font-face {
  font-family: 'Poppins';
  src: url('../../public/assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Para a fonte Poppins com peso 800 */
@font-face {
  font-family: 'Poppins';
  src: url('../../public/assets/fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}