@import "../../../styles/colors.scss";

.alertContainer {
  position: absolute;
  bottom: 15px;
  left: 50%;
  z-index: 99999999;
  transform: translateX(-50%);

  border-radius: 10px;
  padding: 15px;

  display: flex;
  align-items: center;
  gap: 25px;

  color: white;
  line-height: 0;

  animation: slideUp 0.2s;

  .alertIcon {
    height: 1.2rem;
  }

  button {
    line-height: 0;
    border: none;
    background: transparent;

    color: white;
    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}

.success {
  background: $green-color-500;
}

.error {
  background: $red-color-500;
}

@keyframes slideUp {
  from {
    transform: translate(-50%, 20%);
    opacity: 0.3;
  }
  to {
    transform: translate(-50%, 0%);

    opacity: 1;
  }
}
