@import "../../../styles/colors.scss";

.emptyItemsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  align-self: center;

  width: 100%;

  background: $gray-color-500;
  color: $gray-color-300;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.334);

  border-radius: 15px;
  padding: 45px 10px;
  margin-top: 20px;

  h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 1070px) {
  .emptyItemsContainer {
    width: 80%;
    padding: 0;
  }
}
