@import "../../../styles/colors.scss";

.alertOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alertContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  border-radius: 10px;
  padding: 30px;
  gap: 25px;

  background: $gray-color-400;
}

.title {
  color: $gray-color-200;
  font-weight: 600;
}

.text {
  color: $gray-color-200;
  font-weight: 500;
}

.buttonsContainer {
  display: flex;
  gap: 15px;

  width: 100%;

  button {
    border-radius: 10px;
    flex: 1;
    padding: 0.8rem;

    font-weight: 500;
    font-size: 0.8rem;
    border: none;
    
    color: $white-color;
    box-shadow: 1px 2px 5px rgb(0 0 0 / 0.4);

    transition: filter .2s;
    cursor: pointer;

    &:hover{
      filter: brightness(0.8);
    }
  }
}

.cancelButton {
  background: $red-color-500;
}

.confirmButton {
  background: $blue-color-500;
}

.textButton {
  color: $white-color;
}
