@import "../../../../../styles/colors.scss";

.tooltipContainer {
	background: $gray-color-400;
	border: 1px solid $gray-color-200;
	padding: 1rem;
	box-shadow: 1px 2px 7px rgb(0 0 0 / 1);
	border-radius: 20px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}
