@import "../../../styles/colors.scss";

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    background: $gray-color-400;
    box-shadow: 1px 7px 10px rgb(0, 0, 0, 0.8);

    border-radius: 20px;
    padding: 2rem;

    max-height: 90%;

    max-width: 90%;

    display: flex;
    flex-direction: column;
    gap: 20px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      .closeButton {
        color: $red-color-500;
        height: 2rem;

        cursor: pointer;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }

    .mainContent {
      background: $gray-color-500;
      border-radius: 20px;
      padding: 2rem;
    }

    .footer {
      button {
        width: 100%;
        text-align: center;
        border-radius: 20px;
        padding: 1rem;
        font-weight: 500;
        font-size: 0.875rem;

        border: none;
        box-shadow: 1px 2px 4px rgb(0 0 0 / 0.4);
        background: $primary-color;
        color: $white-color;

        cursor: pointer;
        transition: filter 0.2s;

        &:not(:disabled):hover {
          filter: brightness(0.8);
        }
        &:disabled {
          cursor: not-allowed;
          opacity: 0.4;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .overlay {
    .container {
      padding: 2rem;
      width: 90%;
      .mainContent {
        padding: 0rem;
        background: transparent;
      }
    }
  }
}
