@import '../../../../../styles/colors.scss';

.tooltip {
	background: $gray-color-400;
	border: 1px solid $gray-color-200;
	padding: 3px 10px;
	box-shadow: 1px 2px 7px rgb(0 0 0 / 1);
	border-radius: 0.7rem;
}