@import "../../../styles/colors.scss";

.userButton {
  background: none;
  border: none;
  color: $gray-color-200;

  cursor: pointer;
  transition: filter 0.2s;
  line-height: 0;
  padding: 1rem;

  &:hover {
    filter: brightness(0.8);
  }

  .userIcon {
    width: 1.3rem;
    height: 1.3rem;
  }
}

.userInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.6);

  padding: 1.5rem;
  border-radius: 20px;
  cursor: auto;

  animation: fadeIn 0.2s;

  p {
    display: flex;
    align-items: center;
    gap: 0.7rem;

    .icon {
      height: 1rem;
      font-size: 1rem;
      width: 1rem;
    }
  }
}

.logoutButton {
  border: none;
  background: $red-color-500;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;

  line-height: 0;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  margin-top: 1rem;

  width: 100%;

  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }

  .icon {
    height: 1rem;
  }
}

@media (max-width: 880px) {
  .userButton {
    margin-left: auto;
  }
}
