@import "../../../styles/colors.scss";

.sidebarContainer {
  background: $gray-color-400;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);

  padding: 1.2rem 0;
  // width: 52px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .menuList {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: auto;

    width: 100%;
    gap: 1.9rem;

    li {
      list-style-type: none;

      color: $gray-color-200;

      transition:
        filter 0.2s,
        color 0.2s;
      filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
      cursor: pointer;

      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      line-height: 1;

      &:not(.activeMenu):hover {
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.7)) brightness(0.7);
      }

      &.activeMenu {
        color: $primary-color;
        background: transparent;
      }
    }
  }

  .logoutButton {
    color: $red-color-500;
    transition: filter 0.2s;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
    cursor: pointer;

    width: 1.3rem;
    height: 1.3rem;

    &:hover {
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.7)) brightness(0.7);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 880px) {
  .sidebarContainer {
    display: none;
  }
}
