@import "../../../styles/colors.scss";

.headerContainer {
  width: 100%;
  display: flex;
}

.card {
  box-shadow: 1px 7px 10px rgba(0, 0, 0, 0.389);
  transition: filter 0.2s;
  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
  }
}

.salesCardsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;

  margin: 20px 0;

  .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;

    max-width: 270px;

    padding: 1rem 1.5rem;
    border-radius: 20px;
    color: $white-color;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      .icon {
        height: 1rem;
      }
    }
    span {
      font-weight: 500;
    }

    &.amountCard {
      background: $green-color-500;
    }
    &.valueCanceledCard {
      background: $red-color-500;
    }
    &.valueCard {
      background: $blue-color-500;
    }
  }
}

.graphsContainer {
  display: flex;
  gap: 20px;

  .graph {
    background: $gray-color-400;
    border: 1px solid $gray-color-300;
    box-shadow: 1px 7px 10px rgba(0, 0, 0, 0.389);

    min-height: 650px;
    height: 100%;

    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;

    header {
      padding: 15px;

      h4 {
        font-size: 1.3rem;
        font-weight: 700;
        color: $gray-color-200;
      }
    }

    main {
      height: 100%;
      border-top: 1px solid $gray-color-300;
    }
  }

  .sideRightContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .accountsCardsContainer {
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 20px;

      list-style-type: none;

      .card {
        display: flex;
        flex-direction: column;
        gap: 20px;

        padding: 1rem 1.5rem;
        border-radius: 20px;
        color: $white-color;

        header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;

          .icon {
            height: 1rem;
          }
        }
        span {
          font-weight: 500;
        }

        &.inCard {
          background: $green-color-500;
        }
        &.outCard {
          background: $red-color-500;
        }
        &.totalCard {
          background: $blue-color-500;
        }
      }
    }

    .pizzaGraph {
      background: $gray-color-400;
      border: 1px solid $gray-color-300;
      box-shadow: 1px 7px 10px rgba(0, 0, 0, 0.389);

      flex: 1;

      border-radius: 20px;
      overflow: hidden;

      header {
        padding: 15px;
        background: $primary-color;

        h4 {
          font-size: 1.3rem;
          font-weight: 700;
          color: $white-color;
        }
      }
      main {
        height: 100%;
      }
    }
  }
}

@media (max-width: 980px) {
  .salesCardsContainer {
    flex-direction: column;

    .card {
      max-width: 100%;
    }
  }

  .graphsContainer {
    flex-direction: column;
  }
}
