@import "../../../styles/colors.scss";

.table {
  width: 100%;
  margin-top: 20px;
  position: relative;

  border-collapse: collapse;
  text-align: left;

  display: flex;
  flex-direction: column;

  transition: opacity 0.2s;

  thead {
    tr {
      display: flex;
      flex-direction: row;
      align-items: center;

      th {
        flex: 1;
        padding: 0.6rem 1.1rem;
      }
    }
  }

  tbody {
    display: flex;
    flex-direction: column;
    gap: 10px;

    tr {
      display: flex;
      flex-direction: row;
      align-items: center;

      box-shadow: 1px 5px 10px rgba(0, 0, 0);
      background: $gray-color-400;

      border-radius: 10px;

      td {
        flex: 1;
        padding: 0.6rem 1.1rem;
      }
    }
  }
}
