@import "../../../styles/colors.scss";

.table {
  width: 100%;
  border-spacing: 0 0.5rem;

  transition: opacity 0.2s;

  tbody {
    tr {
      &:not(.emptyRow) {
        box-shadow: 1px 3px 4px rgba(0 0 0 / 0.35);
      }

      border-radius: 20px;
    }
  }

  th {
    color: $gray-color-300;

    padding: 1rem 2rem;

    font-weight: 600;
    text-align: left;
    line-height: 1.5rem;
  }

  td {
    padding: 1rem 2rem;
    font-weight: 500;

    color: $gray-color-200;

    &:not(.emptyCell) {
      background: $gray-color-400;
    }

    &:first-child {
      border-radius: 20px 0px 0px 20px;
    }

    &:last-child {
      border-radius: 0px 20px 20px 0px;
    }
  }
}

.emptyCell {
  text-align: center;

  p {
    margin: 2rem;
    font-size: 1.2rem;
    color: $gray-color-300;
  }
}