/* Cores do tema da aplicação */

$white-color: "#FFFFFF";

$green-color-700: "#00875F";
$green-color-500: "#00B37E";

$primary-color: "#ff6600";
$blue-color-500: "rgb(50;100;255)";
$blue-color-700: "#31A2FF";

$red-color-500: "#ED4252";
$red-color-700: "#AA2834";

$gray-color-700: "#121214";
$gray-color-600: "#202024";
$gray-color-500: "#29292E";
$gray-color-400: "#323238";
$gray-color-300: "#7C7C8A";
$gray-color-200: "#C4C4CC";
$gray-color-100: "#E1E1E6";
