@import "../../../styles/colors.scss";

.positiveText {
  color: $green-color-500;
  font-weight: 600;
}

.negativeText {
  color: $red-color-500;
  font-weight: 600;
}

.paid {
  background: $green-color-500;
}

.overdue {
  background: $red-color-500;
}

.pending {
  background: $blue-color-500;
}

.pending,
.overdue,
.paid {
  border-radius: 20px;
  color: white;
  padding: 0px;

  transition: filter 0.2s;
  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
  }
}
